.ion-padding {
    background-image: url('../../assets/back-choose.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.back-prof-income {
    position: relative;
    top: 34px;
    left: 70px;
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.retirement {
    position: relative;
    left: 315px;
    top: 440px;
    width: 185px;
    height: 55px;
}

.dream {
    position: relative;
    left: 506px;
    top: 440px;
    width: 182px;
    height: 57px;
}

.overpadding {
    background-image: url('../../assets/choose.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}